<div class="container">
  <h2>{{ autor()?.nombre }}</h2>
  <p><strong>Nacionalidad:</strong> {{ autor()?.nacionalidad }}</p>
  <p><strong>Edad:</strong> {{ autor()?.edad }} años</p>
  <p><strong>Biografía:</strong> {{ autor()?.biografia }}</p>

  <h3>Libros</h3>
  <ul>
    @for (libro of libros(); track libro.isbn) {
      <li>
        <strong>{{ libro.titulo }}</strong>
        <span>{{ libro.fechaPublicacion | date:'yyyy' }}</span>
      </li>
    }
  </ul>

  <br>
<a class="back" routerLink="/autores">← Volver a autores</a></div>